
<div class="container mt-5">
  <div class="box">
  <p> You said  "<%= @questions %>"</p>
  </div>
  <div class="box_answer mt-4 mb-2">
  <p> Coach answered "<%= @answer %>"</p>
  </div>
  <%= link_to "Ask another question", ask_path %>
</div>
