
<div class="container-fluid w-100 text-center mt-5 px-5">
  <div class="header py-5 ">
    <h2>What did your <em> STUPID</em> coach say?</h2>
  </div>

  <div class="d-flex justify-content-center mb-4">
    <div class="box mt-3">
      <p><em>You said</em><br>"<%= @questions %>"</p>
    </div>

    <div class="box mt-3">
      <p><em>Coach answered</em><br>"<%= @answer %>"</p>
    </div>
  </div>


  <%= link_to "Ask another question", ask_path, class: "button m"%>
</div>
